<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>dys2p</title>
		<!-- TODO icon -->
		<link rel="stylesheet" href="../assets/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="../assets/style.css" />
		{{.Head}}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-sm navbar-light justify-content-center small py-2" style="background-color: #eeeff0!important; font-weight: bold">
				<a class="nav-item nav-link text-dark px-2 py-0" href="https://dys2p.com">dys2p</a> &middot;
				<a class="nav-item nav-link text-dark px-2 py-0" href="https://proxysto.re">ProxyStore</a> &middot;
				<a class="nav-item nav-link text-dark px-2 py-0" href="https://toolbox77.de">toolbox77</a>
			</nav>
			<nav class="navbar navbar-expand-sm navbar-light bg-light">
				<input type="checkbox" id="toggle-navbar">
				<div class="navbar-toggler">
					<label class="mb-0 navbar-toggler-icon" for="toggle-navbar"></label>
				</div>
				<div class="collapse navbar-collapse">
					<div class="equal-width-sm"><!-- empty --></div>
					<div class="navbar-nav equal-width-sm d-flex justify-content-center">
						<a class="nav-item nav-link text-dark" href="index.html">dys2p</a>
						<a class="nav-item nav-link text-dark" href="konzept.html">{{.Map "de" "Konzept" "en" "Concept"}}</a>
						<a class="nav-item nav-link text-dark" href="support.html">{{.Map "de" "Unterstütze uns" "en" "Support us"}}</a>
					</div>
					<div class="equal-width-sm text-right">
						{{range .Locales}}<a class="btn btn-sm btn-secondary{{if eq . $.Locale}} active{{end}}" href="../{{.}}/{{$.Path}}">{{Caps .}}</a> {{end}}
					</div>
				</div>
			</nav>
		</header>
		<main class="container pt-4">
			{{.Content}}
		</main>
		<footer class="footer">
			<div class="container">
				<a class="text-muted" href="https://proxysto.re/kontakt.html"><strong>{{.Map "de" "Kontakt" "en" "Contact"}}</strong></a>
				<a class="text-muted" href="datenschutz.html">{{.Map "de" "Datenschutz" "en" "Privacy Policy"}}</a>
				<a class="text-muted" href="impressum.html">{{.Map "de" "Impressum" "en" "Imprint"}}</a>
				<a class="text-muted" href="https://proxysto.re/kontakt.html">{{.Map "de" "Fehler oder Hinweise? Schreib uns!" "en" "Got an idea or found an error? Drop us a note!"}}</a>
				<span>&mdash;</span>
				<a class="text-muted" href="https://github.com/dys2p">GitHub</a>
				<a class="text-muted" href="https://chaos.social/@dys2p">Mastodon</a>
				<a class="text-muted" href="https://www.reddit.com/dys2p">Reddit</a>
				<a class="text-muted" href="https://twitter.com/dys2pn">Twitter</a>
			</div>
		</footer>
	</body>
</html>
