.ritole {
	unicode-bidi: bidi-override;
	direction: rtl;
}

@media (min-width: 992px) {
	.equal-width-lg {
		flex: 1 1 0px;
	}
}

/* toggle navbar without javascript */
#toggle-navbar{
	display: none;
}
#toggle-navbar:checked ~ div {
	display: block;
}

/* make links in main content green */
main a {
	color: #28a745 !important;
}
main a:focus, main a:hover {
	color: #19692c !important;
}

/* footer spacing */
footer a {
	margin: 0 0.5em;
	text-decoration: none;
}

/* footer sticky  */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-flow: column;
}
footer {
	background-color: #f8f9fa;
	font-size: small;
	margin-top: auto;
	padding: 0.75em;
	text-align: center;
}

/* make all images responsive */
img {
	max-width: 100%;
	height: auto;
}

/* headings */
h1 { text-align: center; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }

/* card hover */
.card-hover:hover {
	background-color: #f7f7f7;
}

/* style all blockquotes independently from bootstrap */
blockquote {
	border-left: solid 5px #d0d0d0;
	font-style: italic;
	padding-left: 0.5em;
}
